.container {
   width: 100%;
   display: flex;
}
.left {
   background: white;
   box-shadow: 2px 2px 12px 0px #00000026;
   float: left;
   position: fixed;
   height: calc(100vh - 78px);
   width: 25%;
   top: 12%;
   padding-left: 5px;
   padding-right: 10px;
   overflow: auto;
}
.left_container {
   width: 25%;
   float: left;
}
.right {
   width: 72%;
   float: left;
   padding: 30px 20px;
}
.header {
   background: white;
   box-shadow: 2px 2px 12px 0px #00000026;
   padding: 20px;
   border-radius: 8px;
}
.right_content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 20px;
   padding-top: 40px;
}
.right_flex {
   display: flex;
   align-items: center;
   gap: 10px;
   width: 40%;
}
.right_img {
   width: 40px;
   height: 40px;
   background: #f8612e;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.right_img2 {
   width: 40px;
   height: 40px;
   background: #4c5bd4;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.right_img3 {
   width: 40px;
   height: 40px;
   background: #34b632;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bottom {
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   flex-wrap: wrap;

   justify-content: space-between;
}
.bottom_left {
   width: 49%;
   background: white;
   box-shadow: 2px 2px 12px 0px #00000026;
   padding: 20px;
   border-radius: 8px;
}
.bottom_right {
   width: 49%;
   background: white;
   box-shadow: 2px 2px 12px 0px #00000026;
   padding: 20px;
   border-radius: 8px;
}
.bottom_left_content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #f2f2f2;
   border-radius: 8px;
   padding: 40px 10px;
   margin-top: 25px;
}
.bottom_left_flex {
   display: flex;
   gap: 10px;
   align-items: center;
}
.line {
   padding-top: 30px;
}
