.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px 10px 0;
}

.contentLeft {
    flex: 1;
    padding-right: 25px;
    height: 100vh;
}

.searchInput {
    width: 100%;
    padding: 17px 14px;
    font-size: 16px;
    line-height: 19px;
    color: #666;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, .1);
    border-radius: 50px;
    border: 0;
}

.searchInput:hover {
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, .1);
    border-radius: 50px;
}

.contentRightContainer {
    width: 330px;
    height: 100vh;
}

.contentRight {
    position: fixed;
    width: 330px;
}

.selectedOption {
    width: 100%;
    padding: 18px 25%;
    display: flex;
    align-items: center;
    background: #4c5bd4;
    border: 1px solid #4c5bd4;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, .1);
    border-radius: 6px;
    color: #fff;
}

.optionText {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-left: 10px;
}

.AllEvent {
    margin-top: 22px;
}

.Event {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ContentEvent {
    margin-top: 26px;
    background: #fff;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, .1);
    border-radius: 0 6px 6px 6px;
}

.EventNoiBo,
.EventDoiNgoai {
    width: 48.5%;
    display: flex;
    background: #fff;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, .1);
    border-radius: 9px;
    padding: 27px 55px;
    align-items: center;
    cursor: pointer;
}

.EventNoiBoContent,
.EventDoiNgoaiContent {
    margin-left: 16px;
}

.EventNoiBoContentNumber,
.EventDoiNgoaiContentNumber {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #4c5bd4;
}

.EventNoiBoContentText,
.EventDoiNgoaiContentText {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}

.TotalEventTitle {
    padding: 16px 17px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #474747;
    border-bottom: 1px solid #666;
}

@media (max-width: 1024px) {

    .EventNoiBo,
    .EventDoiNgoai {
        padding: 18px 30px;
    }

    .searchInput {
        padding: 14px 14px;
    }
}

@media (max-width: 768px) {
    .contentRightContainer {
        width: 212px;
        padding-right: 20px;
    }

    .contentRight {
        width: 212px;
    }

    .searchInput {
        padding: 10px 14px;
    }

    .EventNoiBo,
    .EventDoiNgoai {
        padding: 18px 18px;
    }

    .selectedOption {
        padding: 10px 18%;
    }
}

@media (max-width: 426px) {
    .container {
        flex-direction: column-reverse;
        padding: 0;
    }

    .contentLeft {
        padding: 0px 10px 10px 10px;
    }

    .contentRightContainer {
        width: 100%;
        height: 100%;
        padding: 20px 20px;
    }

    .contentRight {
        position: unset;
        width: 100%;
    }

    .selectedOption {
        padding: 10px 28%;
    }
}