// ----------------------------SuccessResultModal------------------------------------
.SuccessResultModal {
    .ant-modal-content {
        width: 400px;
        height: 265px;
        border-radius: 10px;
    }
}
// --------------------------ConfigActionModal--------------------------------------
.ConfigActionModal {
    .ant-modal-content {
        width: 500px;
        height: 265px;
        border-radius: 10px;
    }
    .ant-btn-default {
        border: 1px solid #4c5bd4;
        color: #4c5bd4;
    }
}
// ------------------------LogoutModal----------------------------------------
.LogoutModal {
    .ant-modal-content {
        width: 435px;
        height: 345px;
        border-radius: 10px;
    }
}

//-------------------------NotifyMessage---------------------------------------
.ant-popover-inner {
    padding: 0 !important;
}

#NotifyMessage {
    width: 360px;
    height: 478px;
    position: relative;
    .groupButton {
        position: absolute;
        right: 14px;
        top: 14px;
    }
    .iconGroupButton > svg {
      width: 18px;
      height: 18px;
    }
    .border-bottom-ul {
      border-bottom: 1px solid #ccc;
    }
    li:hover {
      background-color: #ccc;
      cursor: pointer;
    }
    .ant-tabs-tab {
        padding-left: 14px;
        padding-top: 14px;
        padding-bottom: 8px;
        font-size: 16px;
        line-height: 20px;
    }
    .ant-tabs-nav::before {
      border-bottom: 1px solid #999999;
    }
    .ant-popover-inner {
        padding: 0;
    }
}

#NotifyRemind {
    width: 360px;
    height: 478px;
    position: relative;
    .groupButton {
        position: absolute;
        right: 14px;
        top: 14px;
    }
    .iconGroupButton > svg {
      width: 18px;
      height: 18px;
    }
    .border-bottom-ul {
      border-bottom: 1px solid #ccc;
    }
    li:hover {
      background-color: #ccc;
      cursor: pointer;
    }
    
}

// --------------------------PopoverHeader--------------------------------------

#PopoverHeader {
  width: 300px;
}
.DrawerHeader {
  border-radius: 0 10px 10px 0;

  .ant-drawer-body {
    padding: 0;
  }
  
}

// ---------------------------NavBar-------------------------------------

#NavMenu {
  .ant-menu-item {
    border-radius: 0;
    margin: 0;
    padding: 0px 20px !important;
    width: 100%;
    height: 50px !important;
    color: #fff !important;
    background-color: #4c5bd4;
  }
  .ant-menu-item-only-child {
    height: 43px !important;
    line-height: 43px !important;
  }
  .ant-menu-submenu-title {
    padding: 0px 20px !important;
    margin: 0 !important;
    height: 50px;
    line-height: 50px;
  }
} 
