.ant-menu-submenu-title:active {
  background-color: transparent !important;
}

.ant-select-item:hover {
  background-color: var(--selectHover) !important;
}

.ant-menu-item-selected {
  background-color: #2e3994 !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-inline:hover {
  background-color: #2e3994 !important;
  border-radius: 0;
  color: #fff !important;
  width: 100%;
}


.customizeDropdownFormPageKpi {
  padding: 0px;
  border: 1px solid #aaa;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// Statistical KPI
#StatisticalKpi {
  .ant-row {
    justify-content: space-between;
  }
}

#homePageCard .ant-card-body {
  padding: 5px 15px 15px 15px;
}

#homePageCard .ant-card-meta-avatar {
  padding-inline-end: 8px;
}

#listCartCard {
  .ant-card-body {
    padding: 12px 11px 15px 15px;
  }

  .ant-card-meta {
    align-items: center;
  }

  .ant-card-meta-avatar {
    padding-inline-end: 8px;
  }

  .ant-card-meta-title {
    margin-bottom: 0;
  }
}


#kpiStatisticalByDepartmentCard {
  .ant-card-body {
    padding: 0px !important;
  }

  .ant-card-head {
    padding: 0px !important;
  }

  .ant-card-head-wrapper {
    align-items: stretch;
  }
}


#advantageCard .ant-card-body {
  padding: 12px !important;
}

#homePageCard .ant-card-meta-title {
  margin-bottom: 0;
}

.ant-modal-content {
  padding: 0 !important;
}

.detailKpi {
  .ant-modal-header {
    padding: 13px 24px;
    background-color: #4c5bd4;
    color: #fff;
  }

  .ant-modal-title {
    color: inherit !important;
  }

  .ant-modal-close {
    color: #fff !important;
  }

  .ant-modal-body {
    padding: 20px;
  }

  .ant-modal-footer {
    padding: 20px;
  }
}



/* ----------------------------------------- */

#diagramKpiPage .ant-row-end {
  align-items: center;
}

#diagramKpiPageGroupInput .ant-input {
  width: 65px !important;
  padding: 4px 26px 4px 11px;
}

/* ---------------------------------------------- */

.ant-table-thead>tr>th {
  background-color: var(--colorTheme) !important;
  color: #fff !important;
}

.ant-table-thead>tr>th {
  padding: 10px !important;
}

#BonusSettingTable {
  .ant-table-thead>tr>th {
    background-color: #EEEEEE !important;
    color: #000 !important;
  }
}

/* -------------------------------- */
#BtnAddComon {
  .ant-btn {
    border-color: var(--colorTheme);
  }
}

/* ----------------------------- */


/* ---------------------------------- */
.ant-card-body {
  padding: 0 !important;
}

.ant-card-meta-title {
  margin-bottom: 0px !important;
  font-size: inherit !important;
}

.ant-card-meta-description {
  padding-right: 20px !important;
}

#CustomizeCardDeleteData .ant-card-meta-description {
  padding-right: 0 !important;
}

@media only screen and (max-width: 769px) {
  .ant-tabs-top>.ant-tabs-nav::before {
    right: 0;
  }
}

/* ------------------------- */

#AddNewKpiTab {
  .ant-tabs-left>.ant-tabs-nav .ant-tabs-tab {
    padding: 4px 30px;
    width: 100%;
  }

  #AddNewKpiTab .ant-tabs-tab-btn {
    width: 100%;
  }
}



/* #FollowKPITable  */
#FollowKPITable {
  .ant-table-tbody>tr>td {
    padding: 0 !important;
  }
}


// Evaluate


// Evaluate ~ Setup
.setUpKpi {
  .ant-modal-title {
    padding: 13px 34px !important;
    background-color: var(--colorTheme);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
  }

  .ant-modal-body {
    padding: 7px 34px 20px 34px !important;

  }

  .ant-form-item {
    margin-bottom: 12px !important;
  }
}

.setUpDeleteKpi {
  .ant-modal-title {
    padding: 13px 34px !important;
    background-color: var(--colorTheme);
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
  }
}

#FormUpdateResult {
  .ant-form-item-label {
    padding-bottom: 4px;
  }
}