.container {
    padding-right: 75px;
    padding-left: 55px;
}

.content__story {
    border-radius: 8px;
}

.content__story {
    display: flex;
    justify-content: flex-start;
    margin-top: 22px;
    border-radius: 8px;

}

.add__story {
    border-radius: 8px;
}

.btnAdd__story {
    width: 156px;
    height: 65px;
    background-color: white;
}

.imageAdd__story {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.btnAdd__story {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
}

.imageAdd {
    position: relative;
    bottom: 50%;
}

.slide__story {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.imageNext {
    position: relative;
    top: 160%;
}

.slide__story {
    display: flex;
    overflow: hidden;
}

.story {
    margin-right: 10px;
}

.rotate180 {
    transform: rotate(180deg);
    position: relative;
    top: 160%;
}

.userDetails {
    margin-bottom: 8px;
}

.avatar {
    border-radius: 50%;
    margin-right: 8px;
    z-index: 1;
    border: 3px solid #4C5BD4;
    position: relative;
    bottom: 420%;
    left: 22%;
}

.username {
    color: white;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    top: -50px;
    right: 22%;
}

.image__story {
    width: 156px !important;
    height: 220px !important;
    border-radius: 8px;
}