/* menu user*/
.MenuUser.ant-dropdown-menu {
    margin-top: 17px;
    width: 300px;
}


.MenuNewUser.ant-dropdown-menu {
    margin-top: 17px;
    width: 300px;
    height: 100%;
}

.MenuUserHome.ant-menu {
    border-radius: 10px;
    height: 100vh;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 100px;
    width: 24%;

    .ant-menu-item {
        padding: 0px 24px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 8px;

        &:hover {
            background-color: rgba($color: #000000, $alpha: .1) !important;
        }

        .ant-menu-title-content {
            color: #000000;
        }
    }
}



.ant-menu-item:hover,
.ant-menu-submenu-inline:hover {
    width: 97%;
    border-radius: 8px;
}

.menuOption.ant-menu {
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

    .ant-menu-item {
        &:hover {
            background-color: rgba($color: #000000, $alpha: .1) !important;
            color: #000000 !important;
        }
    }
}

.flex-container {
    display: flex;
}

@media (max-width: 1024px) {
    .nav .MenuSidebar {
        .ant-menu {
            width: 100px;

            .ant-menu-item {
                padding-left: 28px !important;

                .ant-menu-title-content {
                    display: none;
                }
            }
        }

    }

    .flex-container {

        .navbar {
            width: 14%;
        }
    }
}

@media (max-width: 768px) {
    .flex-container {

        .navbar {
            width: 17%;
        }
    }

    .contentRight {
        .ant-menu-item {
            width: 212px !important;
        }
    }
}

@media (max-width: 426px) {
    .flex-container {
        .navbar {
            width: 0;
        }

        .nav {
            display: none;
        }
    }

    .contentRight {
        .ant-menu-item {
            width: 100% !important;
            height: 45px !important;
            padding: 10px 28% !important;
        }
    }
}

.ItemMenuSidebar.ant-menu {
    border-radius: 8px;
    color: #fff;

    .ant-menu-item {
        margin: 10px 4px;
    }
}

.menuSortPopover.ant-menu {
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

    .ant-menu-item {
        &:hover {
            background-color: rgba($color: #000000, $alpha: .1) !important;
            color: #000000 !important;
            width: 92% !important;
        }
    }
}





/* --------------- Modal ------------------ */

/* Modal Add Post */
.modal__addPost .ant-modal-content,
.modal__tag .ant-modal-content,
.modal__Emotions .ant-modal-content {
    padding: 0px;

    a {
        color: #000000;
    }

    Button {
        transition: none;

        &:hover {
            border: transparent;
            color: #ffffff !important;
        }
    }

    .ant-modal-close {
        color: #ffffff;
    }

    .ant-modal-header {
        background-color: #4c5bd4;
        width: 100%;
        height: 50px;
        margin: 0;

        .ant-modal-title {
            color: white;
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0px 20px;
        }

    }

    .ant-modal-body {
        padding: 15px 20px 5px 20px;
    }
}

/* Modal Tag */

.modal__tag .ant-input-affix-wrapper {
    &:hover {
        border: 1px solid #ccc !important;
    }
}


/* Modal Emotions */
.modal__Emotions .ant-modal-body {

    .ant-tabs-tab {
        color: #999999;
        font-size: 16px;
        font-weight: 500;
        padding: 4px 8px;
    }

    .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
            color: #4c5bd4;
        }
    }

}

.searchActivity .ant-input-affix-wrapper,
.searchEmotion .ant-input-affix-wrapper {
    &:hover {
        border: 1px solid #ccc !important;
    }
}

/* Modal search location */

.modalSearchLocation .ant-modal-content {
    padding: 0px;
    width: 100%;

    .ant-modal-close {
        color: #ffffff;
    }

    .ant-modal-header {
        background-color: #4c5bd4;
        width: 100%;
        height: 50px;
        margin: 0;

        .ant-modal-title {
            color: white;
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0px 20px;
        }

    }

    .ant-modal-body {
        padding: 15px 20px 5px 20px;
    }
}

.SearchLocation .ant-input-affix-wrapper {
    &:hover {
        border: 1px solid #ccc !important;
    }
}


/* Modal Regime */

.modalRegime .ant-modal-content,
.ModalFriendExcept .ant-modal-content,
.ModalFriendSpecific .ant-modal-content {
    padding: 0px;
    width: 100%;

    .ant-modal-close {
        color: #ffffff;
    }

    .ant-modal-header {
        background-color: #4c5bd4;
        width: 100%;
        height: 50px;
        margin: 0;

        .ant-modal-title {
            color: white;
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0px 20px;
        }

    }

    .ant-modal-body {
        padding: 15px 20px 5px 20px;
    }
}

/* Modal Share*/

.ModalShare .ant-modal-content {
    padding: 0px;
    width: 100%;

    .ant-modal-close {
        color: #ffffff;
    }

    .ant-modal-header {
        background-color: #4c5bd4;
        width: 100%;
        height: 50px;
        margin: 0;

        .ant-modal-title {
            color: white;
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0px 20px;
        }

    }

    .ant-modal-body {
        padding: 15px 20px 5px 20px;
    }
}

/* collection__btnCreate */

.collection__btnCreate {
    border: 1px solid #cccccc !important;

    &:hover {
        color: #ffffff !important;
    }
}

/* ModalTurnOnNotify */

.ModalTurnOnNotify .ant-modal-content {
    padding: 0px;
    width: 85%;

    button {
        color: #000000;
        border: 1px solid #4c5bd4;
        width: 135px;
        border-radius: 25px;
        font-weight: 700;
        font-size: 14px;
    }

    .ant-modal-header {
        background-color: #4c5bd4;
        width: 100%;
        height: 50px;
        margin: 0;

        .ant-modal-title {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0px 20px;
        }

    }

    .ant-modal-body {
        padding: 15px 20px 5px 20px;
    }

}

/* TableEvent */

.TableEvent .ant-table-thead>tr>th {
    background-color: white;
}

.contentRight {

    .ant-menu-item {
        padding: 18px 25%;
        display: flex;
        align-items: center;
        background: #4c5bd4;
        color: #fff;
        width: 330px;
        height: 60px;
        margin: 0;
        border-radius: 0 !important;

        &:hover {
            background-color: #2e3994 !important;
            color: #fff !important;
        }
    }

}