// --------------------------ConfigActionModal--------------------------------------
.ConfigActionModal {
    .ant-modal-content {
        width: 500px;
        height: 265px;
        border-radius: 10px;
    }

    .ant-btn-default {
        border: 1px solid #4c5bd4;
        color: #4c5bd4;
    }
}

//-------------------------NotifyMessage---------------------------------------
.ant-popover-inner {
    padding: 0 !important;
}