@import "./common/_index.scss";
@import "./responsive.scss";
@import "./customAntd/index.scss";
:root {
    --colorTheme: #4c5bd4;
    --selectHover:#5897fb
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    line-height: 1.6;
    // font-family:Arial, Helvetica, sans-serif;
    font-family: Roboto;
    text-rendering: optimizeSpeed;
}
a {
    text-decoration: none;
    color: inherit;
  }

::-webkit-scrollbar-thumb {
    background-color: #4c5bd4 !important;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}