.container {
   width: 100%;
   display: flex;
}
.modal_container {
   padding: 20px;
}
.left {
   background: white;
   box-shadow: 2px 2px 12px 0px #00000026;
   float: left;
   position: fixed;
   height: calc(100vh - 78px);
   width: 25%;
   top: 12%;
   padding-left: 5px;
   padding-right: 10px;
   overflow: auto;
}
.left_container {
   width: 25%;
   float: left;
}
.right {
   width: 72%;
   float: left;
}
.img_header {
   position: relative;
}
.cam_header {
   position: absolute;
   top: 48%;
   z-index: 10;
   left: 90%;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   cursor: pointer;
}
.banner {
   color: #fff;
   background: #4c5bd4;
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
   padding: 15px;
}
.banner_name {
   display: flex;
   gap: 10px;
   flex-direction: column;
}
.left_p2 {
   font-size: 16px;
   font-weight: 600;
}
.left_p3 {
   font-size: 18px;
   font-weight: 600;
}
.banner_content {
   padding: 30px;
   background: #fff;
}
.btn_inv {
   width: 95px;
   height: 40px;
   border-radius: 3px;
   background: #4c5bd4;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border: none;
   color: #fff;
}
.inv {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px dotted;
   padding-bottom: 20px;
   align-items: baseline;
}
.inv_tabs {
   display: flex;
   justify-content: space-between;
   padding-bottom: 20px;
   align-items: baseline;
   padding-top: 20px;
}
.banner_text {
   display: flex;
   gap: 20px;
}
.banner_fr {
   padding-top: 20px;
}
.fr_img {
   display: flex;
   gap: 20px;
   align-items: center;
}
.fr {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
}
.border {
   padding: 10px 12px 32px;
   border: 1px solid #cccccc;
   margin-top: 10px;
}
.border_item {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   margin-top: 10px;
}
.fr_btn {
   padding-top: 20px;
   display: flex;
   justify-content: center;
   gap: 20px;
}
.fr_p {
   font-weight: 600;
   font-size: 18px;
}
.fr_name {
   font-weight: 500;
   font-size: 16px;
}

.selectedName {
}
.fr_seclected {
   display: flex;
   gap: 10px;
   align-items: center;
   background: #cccccc;
   padding: 5px;
   width: 40%;
}
