.container {
    margin-top: 24px;
    width: 360px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 5px 15px;
}

.optionTitle {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.optionTitle a:first-child {
    padding-bottom: 10px;
}

.optionTitle span {
    font-size: 15px;
    padding-left: 4px;
}

.body {
    padding: 0 15px 15px 15px;
}

.option {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btnOption {
    border-radius: 20px;
    height: 34px;
    background-color: #a4acef;
}

.showMore {
    display: flex;
    justify-content: flex-end;
    color: #4C5BD4;
    font-size: 14px;
}

.item {
    display: flex;
}

.avatar {
    margin-right: 10px;
}

.detail {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.iconItem {
    border-radius: 50%;
    background-color: #9999;
}