.searchContainer {
    padding: 19px 23px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-color: #fff;
}

.searchInput {
    width: 40%;
    font-size: 16px;
    line-height: 19px;
    background-color: #fff;
}